MONGODB_URI=''
DATABASE_NAME=''
LOCAL_DEV_APP_HOST=''
LOCAL_DEV_APP_PORT=

AUTHOR=''

WEBSITE_DOMAIN_DEVELOPMENT=''
WEBSITE_DOMAIN_PRODUCTION=''

RESEND_API_KEY=''
ADMIN_EMAIL_ADDRESS=''
ADMIN_EMAIL_NAME=''

ACCESS_TOKEN_SECRET_SIGNATURE=''
ACCESS_TOKEN_LIFE=''

REFRESH_TOKEN_SECRET_SIGNATURE=''
REFRESH_TOKEN_LIFE=''

CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

BREVO_API_KEY=''

ADMIN_EMAIL_NAME=''
ADMIN_EMAIL_ADDRESS=''

VITE_GOOGLE_CLIENT_ID=''

# GitHub OAuth - Local Development
GITHUB_CLIENT_ID_LOCAL=''
GITHUB_CLIENT_SECRET_LOCAL=''

# GitHub OAuth - Production
GITHUB_CLIENT_ID_PRODUCTION=''
GITHUB_CLIENT_SECRET_PRODUCTION=''